main.app .navbar-app {
    background-color: #cc00cc;
}

main.app section aside img {
    width: 28vw;
    height: auto;
    min-width: 180px;
    min-height: 18px;
    max-height: 50vh;
}

main.app section .font-brand {
    font-size: clamp(1.5rem, 2vw + 1rem, 2.5rem);
}

main.app .container .loading-main >div div {
    height: 50vh;
    animation: loading 1.5s infinite;
}

main.app .courses {
    height: 100vh;
    background-color: rgb(222, 219, 219);
}
/*
@media only screen and (max-width: 992px) {

    main.app section.brand .font-brand {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 768px) {
    
}

@media only screen and (max-width: 576px) {
    
}

@media only screen and (max-width: 575px) {
    
} */